.bundle
.cache
.DS_Store
.sass-cache


*~
_*
*.o
*.d
*.asm
*.sym
*.img
winux/vectors.S
winux/bootblock
winux/entryother
winux/initcode
winux/initcode.out
winux/kernelmemfs
winux/mkfs
winux/kernel/kernel
winux/user/usys.S
winux/.gdbinit