<nav>
  <h2 style="font-size: 16px;">Welcome to <a href="/"> Winux</a>!</h2>
  <div id="social">
    <div>Menu</div>

    <div>Coding sessions</div>
    <ul>
      <li><a href="/articles/bootloader.html">Bootloader</a></li>
    </ul>
  </div>
</nav>